{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 70
      }
    }
  ]
}
